* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 70px;
}

.container-nav-desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.icon-nav {
    text-decoration: none;
    display: flex;
    gap: 25px;
    margin-right: 24px;
    padding: 6px 10px;
    color: #555555;
}

.container-nav-desktop .icon-nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
}

.icon-cart {
    font-size: 23px;
}

.icon-userProfile{
    font-size: 27px;
}


.nav-desktop ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.nav-desktop ul li {
    list-style: none;
}

.nav-desktop ul li a {
    text-decoration: none;
    color: #000000
}


.nav-desktop ul li a:hover {
    color: #006D77;
}







nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffff;
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.2);
    z-index: 999999999;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;

}

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #ffff;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transition: all 0.4s ease;

    overflow-y: hidden;
}

nav.open .sidebar {
    left: 0;

}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;

}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    text-decoration: none;
    padding: 14px 12px;
    border-radius: 8px;


}

.lists .nav-link:hover {
    background-color: #D0EDA1;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;

}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #ffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;

}


@media (max-width:800px) {
    .nav-desktop {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}


@media (min-width:800px) {
    .menu-icon {
        display: none;
    }
}